h1 {
    color: rgb(0, 152, 255);
    font-family: "Bahnschrift Condensed";
    margin-left: 96px;
    font-size: 50px;
    margin-bottom: 15x;
    margin-top: 5px;
    position: relative;
    top: 7px
    
}

#judul {
    color: rgb(255, 187, 0) ;
}

.menu1 {
    color:white;
    font-size: 20px;
    font-family: "Arial";
    margin-left: 20px;
    align-items: center;
    vertical-align: center;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    
}

li a{
    display: block;
    padding: 8px;
}

.teks{
    color: white;
    font-size: 20px;
    font-family: "arial";
    position: relative;
    top: 80px;
}